<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lamnguyen5464.avatar3dme">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- camera access -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".view.ProcessingActivity"
            android:exported="false" />
        <activity
            android:name=".view.CaptureConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".view.FaceShootActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".view.ModelViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:enableVrMode="@string/gvr_vr_mode_component"
            android:exported="true"
            android:label="@string/app_name"
            android:resizeableActivity="false"
            android:screenOrientation="landscape">
            <!-- The VR icon to be used in Daydream Home comes in two parts:
                 a foreground icon and a background icon.  -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.intent.category.CARDBOARD" />

                <!-- The DAYDREAM category should only be declared by Activities that are Daydream
                     compatible. Daydream compatible apps should typically use the Daydream
                     controller APIs directly, however in this sample app we instead rely on
                     Cardboard trigger emulation. -->
                <category android:name="com.google.intent.category.DAYDREAM" />
            </intent-filter>
        </activity>
    </application>

</manifest>